[Unit]
Description=CoreOS UI
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
User=core

TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill coreos-ui
ExecStartPre=-/usr/bin/docker rm coreos-ui
ExecStartPre=/usr/bin/docker pull speakit/coreos-ui
ExecStart=/usr/bin/docker run --name coreos-ui \
      -p 3000:3000 \
      -e FLEET_BINARY=/usr/bin/fleetctl \
      -e FLEET_ENDPOINT=http://172.17.42.1:4001 \
      speakit/coreos-ui
ExecStop=/usr/bin/docker stop coreos-ui
