[Unit]
Description=CoreOS UI
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
User=core

TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill coreos-ui
ExecStartPre=-/usr/bin/docker rm coreos-ui
ExecStartPre=/usr/bin/docker pull speakit/coreos-ui:latest
ExecStart=/usr/bin/docker run --name coreos-ui \
      -p 3000:3000 \
      speakit/coreos-ui:latest
ExecStop=/usr/bin/docker stop coreos-ui
