
<div class="container">
  <div class="coregi-box" ng-controller="MachinesCtrl">
    <div class="coregi-box-header">
      <div class="coregi-box-header-title">Machines List</div>
      <div class="coregi-box-header-sub">Total: {{machinesList.length}}</div>
    </div>
    <div class="coregi-box-content">
      <table class="table coregi-table">
        <tr class="coregi-box-content-title">
          <th>Machine ID</th>
          <th>Machine IP</th>
          <th>Meta Data</th>
        </tr>
        <tr ng-repeat="machine in machinesList">
          <td>{{machine.machine}}</td>
          <td>{{machine.ip}}</td>
          <td>{{machine.metadata}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
