
<div class="container">
  <div class="coregi-box" ng-controller="UnitFilesCtrl">
    <!-- header -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="coregi-box-header">
          <div class="coregi-box-header-title">Unit Files List</div>
          <div class="coregi-box-header-sub">Total: {{unitFilesList.length}}</div>
        </div>
      </div>
    </div>

    <!-- content -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="coregi-box-content">
          <div class="table-responsive">
            <table class="table table-hover coregi-table">
              <tr class="coregi-box-content-title">
                <th class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Unit</th>
                <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Hash</th>
                <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">DState</th>
                <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">State</th>
                <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Edit</th>
                <!--<th>Target</th>       
                <th>Machine ID</th>
                <th>Machine IP</th>-->
              </tr>
              <tr ng-repeat="unitFile in unitFilesList">
                <td>{{unitFile.unit}}</td>
                <td>{{unitFile.hash}}</td>
                <td>{{unitFile.dState}}</td>
                <td>{{unitFile.state}}</td>
                <td></td>
                <!--<td>{{unitFile.target}}</td>
                <td>{{unitFile.machineId}}</td>
                <td>{{unitFile.machineIp}}</td>-->
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
