
<div class="container">
  <div class="coregi-box" ng-controller="UnitFilesCtrl">
    <div class="coregi-box-header">
      <div class="coregi-box-header-title">Unit Files List</div>
      <div class="coregi-box-header-sub">Total: {{unitFilesList.length}}</div>
    </div>
    <div class="coregi-box-content">
      <table class="table coregi-table">
        <tr class="coregi-box-content-title">
          <th>Unit</th>
          <th>Hash</th>
          <th>DState</th>
          <th>State</th>
          <!--<th>Target</th>       
          <th>Machine ID</th>
          <th>Machine IP</th>-->
        </tr>
        <tr ng-repeat="unitFile in unitFilesList">
          <td>{{unitFile.unit}}</td>
          <td>{{unitFile.hash}}</td>
          <td>{{unitFile.dState}}</td>
          <td>{{unitFile.state}}</td>
          <!--<td>{{unitFile.target}}</td>
          <td>{{unitFile.machineId}}</td>
          <td>{{unitFile.machineIp}}</td>-->
        </tr>
      </table>
    </div>
  </div>
</div>
